:root {
  --color: hsl(50 50% 50%);
  --base-color: hsl(50 50% 50%);

  /* Color */
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;

  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
    -1 * (var(--radio-total-width-precalc)) + var(--radio-width) /
      2 - var(--radio-dot-width) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
    var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer:
    inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
  --border-raised-inner:
    inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
  --border-sunken-outer:
    inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
  --border-sunken-inner:
    inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer:
    inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
  --border-window-inner:
    inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field:
    inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow),
    inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / cover no-repeat url("/background.png");
}

dialog {
  border: 0;
  overflow: hidden;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
  gap: var(--element-spacing);

  &.items-center {
    align-items: center;
  }
}

.paint {
  width: 90%;
  max-width: 1500px;
  height: 90%;

  &__body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px calc(100% - 200px);
  }
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: calc(var(--element-spacing) * 2);
  align-items: center;
  padding: 0 10px 0 0;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-width: 150px;
  width: 100%;
  margin: 0 20px 0 15px;
  padding: 0;

  button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 100%;
    min-height: 46px;
    aspect-ratio: 1 / 1;

    &[aria-label="Gomme"] {
      background-image: url("/eraser.png");
    }
    &[aria-label="Pinceau"] {
      background-image: url("/brush.png");
    }

    &.active {
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
      padding: 2px 11px 0 13px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__item {
    width: 50%;
  }
}

.online {
  position: relative;
  width: 100%;
  height: 50%;
  max-height: 350px;

  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--element-spacing);

  color: var(--window-frame);
  font-size: 0.825rem;
  overflow: auto;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  }

  &__user {
    display: flex;
    gap: var(--grouped-element-spacing);
    align-items: center;

    &__color {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

.menu {
  margin-bottom: 15px;
  grid-area: 1 / 1 / 2 / 3;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
}

.canvas {
  overflow: scroll;
  max-height: 50vh;
  border: 1px solid black;
  position: relative;
  width: 100%;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow:
    1px 0 0 white,
    1px 1px 0 white,
    0 1px 0 white,
    -1px 0 0 darkgrey,
    -1px -1px 0 darkgrey,
    0 -1px 0 darkgrey,
    -1px 1px 0 white,
    1px -1px darkgrey;

  &__grid {
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  &__drawing {
    position: relative;
    z-index: 2;

    &:hover {
      cursor: crosshair;
    }
  }
}

.properties {
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;

  &__list {
    width: 70%;
    padding: 0;
    margin: 0 0 0 50px;
    list-style: none;
  }
}

.color {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  padding: 2px 11px 0 13px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;

  &__square {
    width: 45%;
    aspect-ratio: 1 / 1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    position: absolute;

    &:nth-of-type(1) {
      top: 15px;
      left: 15px;
      background: var(--color);
      z-index: 2;
    }
    &:nth-of-type(2) {
      bottom: 15px;
      right: 15px;
      background: var(--base-color);
      z-index: 1;
    }
  }
}

.login {
  &__body {
    display: flex;
    flex-direction: column;

    button {
      margin-left: auto;
    }
  }
}

.logs {
  width: 30vw;

  &__container {
    height: 50vh;
    overflow: auto;
  }

  &__list {
    height: 100%;
    width: 100%;
  }
}

#canvas-container {
  overflow: auto;
  position: relative;
}

#canvas.ctrl-pan.active {
  cursor: grabbing;
}
#canvas.ctrl-pan {
  cursor: grab;
}
